<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

    <div th:replace="~{common/navbar.html::navbar}"></div>

    <h4>Login</h4>

    <form action="/login" method="POST">
        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        <input name="username">
        <input name="password" type="password">
        <button type="submit">Login</button>
    </form>

    <!--param : 현재 URL의 query string이 담겨있다-->
    <div th:if="${param.error}">
        <h4>아이디나 패스워트가 일치하지 않습니다.</h4>
    </div>

</body>
</html>